ul {
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
li {
    height: 100px;
    display: table-cell;
    width: 1%;
    vertical-align: middle;
    cursor: pointer;
    background-color: #E1EDB9;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 175%;
    padding-left: 20px;
    padding-right: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    border-right: 2px black solid;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}
li:first-child {
    border-left: 2px black solid;
}
li:hover {
    background-color: #68B3AF;
}
#header {
    background-color: #AACCB1;
    font-size: 200%;
    font-weight: bold;
    cursor: default;
}
.selectedButton {
    box-shadow: 0px 15px 15px -7px rgba(0, 0, 0, 0.5);
}
#rank {
    background-image: url('../images/icons/lineChart.svg');
}
#geo {
    background-image: url('../images/icons/globe.svg');
}
#prob {
    background-image: url('../images/icons/die.svg');
}
#expl {
    background-image: url('../images/icons/matches.svg');
}
#canvas {
    position:absolute;
    top:120px;
    left:5px;
    bottom:5px;
    right:5px;
    display: block;
}
body {
    background-color: #F0F2EB;
    background-image: url('../images/testLeather.png');
    margin-top: 0px;
    padding: 0px;
}
html {
    height: 100%;
    min-width: 1280px;
    margin: 0px;
    padding: 0px;
}